[package]
name = "rb_implant"
version = "0.1.0"
edition = "2021"

[dependencies]
# Commandâ€line parsing
clap = { version = "4.2", features = ["derive"] }

# Async runtime
tokio = { version = "1", features = ["full"] }

# HTTP client + JSON + TLS
reqwest = { version = "0.11", features = ["json", "rustls-tls"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# UUID generation
uuid = { version = "1.2", features = ["serde", "v4"] }

# System/user info
whoami = "1.2"

rb = { path = "../rb" }
